.preview {
    .txt {
        margin-right: 20px;
        img {
            max-width: 100%;
            height: auto !important;
        }
        .photo,
        .video {
            margin-right: 0;
        }
    }
}

.mobile {
    display: none !important;
}

.header_body {
    padding-bottom: 1.25em;
    .wrapper {
        display: flex;
        justify-content: center;
        padding-right: 20.25em;
        box-sizing: border-box;
    }
    .secondmenu {
        flex: 1 0 0;
        width: auto;
        .menubar,
        .menubar+div {
            height: auto;
        }
    }
    .menubar {
        display: flex;
        justify-content: space-around;
    }
    .menubar+div {
        display: flex;
        justify-content: center;
    }
}

.socmenu {
    padding-left: 20px;
    padding-right: 20px;
}

.liveprogtitle {
    white-space: normal;
    width: auto;
}

.broadcastmenu {
    display: flex;
    justify-content: space-between;
    flex: 1 0 0;
    .liveaudioplayer {
        flex: 1 0 0;
        a {
            width: auto;
            display: flex;
        }
        .aboutlive {
            flex: 1 0 0;
        }
    }
    .liveaudioplayer,
    .entire {
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        a {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.logo {
    @media screen and (max-width: 1315px) {
        width: auto;
    }
}
