@import "owl.carousel";
@import "owl.theme.default.min";
$large: 767px;
@media only screen and (max-width: 1020px) {
    #yandex_rtb_R-A-151575-24 {
        width: 728px;
        height: 90px;
        margin: 0 auto
    }
}

@media only screen and (max-width: 728px) {
    #yandex_rtb_R-A-151575-24 {
        width: 320px;
        height: 190px;
        margin: 0 auto
    }
}

@media only screen and (min-width: 1021px) {
    #yandex_rtb_R-A-151575-24 {
        width: 1000px;
        height: 120px;
        margin: 0 auto
    }
}

// Общие
.maincolumns {
    @media screen and (max-width: $large) {
        margin: 0;
        .column {
            float: none;
            margin: 0 auto;
        }
    }
}

body {
    @media screen and (max-width: $large) {
        min-width: 0;
    }
}

.wrapper {
    @media screen and (max-width: $large) {
        width: auto;
        .wide {
            max-width: 100%;
            width: auto;
        }
    }
}

.mainbanner_box {
    @media screen and (max-width: $large) {
        margin-top: 0;
    }
}

.mainlenta {
    @media screen and (max-width: $large) {
        margin: 0;
        height: auto;
        .wrapper {
            margin: 0;
            height: auto;
        }
        .slidesmask,
        .slidenav {
            display: none;
        }
        .supermaincarousel {
            width: auto;
            height: auto;
            font-size: 0;
            .iblock {
                border: none;
                width: 50%;
                height: auto;
                font-size: 12px;
            }
            .owl-item {
                .iblock {
                    width: 100%;
                }
            }
            .slide {
                height: auto;
            }
            .photo {
                width: 100%;
                height: auto;
                margin-left: 0 !important;
                img {
                    width: 100%;
                    height: 100%;
                    min-width: 0;
                    min-height: 0;
                }
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: rgba(#000, .5);
                }
            }
            .info {
                display: block;
                width: auto;
                height: auto;
                left: 20px;
                right: 20px;
            }
            .datetime {
                bottom: 20px;
                right: auto;
                left: 0;
            }
            .descr {
                margin: 0;
                left: 0;
                right: 0;
                bottom: 40px;
            }
            .title {
                font-size: 2.5vmin !important;
            }
        }
    }
    @media screen and (max-width: 480px) {
        .supermaincarousel {
            .title {
                font-size: 5vmin !important;
            }
            .iblock {
                width: 100%;
            }
        }
    }
}

.mainpage {
    @media screen and (max-width: $large) {
        .main {
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}

// Шапка
.header_top {
    @media screen and (max-width: $large) {
        white-space: normal;
        min-width: 0;
        z-index: 999;
        .wrapper {
            padding-right: 0;
            padding-left: 20px;
            padding-right: 20px;
        }
        .mmperson {
            display: none;
        }
        .mmage {
            left: auto;
            right: 0;
            top: 0;
            margin: 0;
        }
        .mainmenu {
            width: auto;
            height: auto;
            display: block;
            margin: 0;
            display: none;
            a {
                display: block;
                padding: 0;
            }
        }
        .menubar {
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            &>* {
                width: 25%;
                margin-bottom: 20px;
                &:last-child {
                    margin-right: auto;
                }
            }
            .submenu {
                position: static;
                opacity: 1;
                height: auto;
                a {
                    font-family: inherit;
                    white-space: normal;
                }
            }
            .menusection {
                &:hover {
                    background-color: transparent;
                }
            }
            .secondmenusection {
                &:hover {
                    a.menulink {
                        background-color: transparent;
                    }
                    .submenu {
                        padding: 0;
                    }
                }
            }
        }
        .userblock {
            position: relative;
        }
        .auth_popup {
            &.show {
                height: auto;
                padding: 20px;
                padding-right: 30px;
                right: -1.25em;
            }
            .close {
                top: 10px;
                right: 10px;
            }
            .formsholder {
                min-width: 0 !important;
            }
            .form {
                display: none;
                .nowrap {
                    white-space: normal;
                }
                &.open {
                    display: block;
                    position: static;
                    width: 100%;
                    height: auto;
                }
            }
            .socialblock,
            .reg,
            .auth {
                display: none;
                &.open {
                    height: auto;
                    margin: 20px 0;
                    padding-left: 0;
                    width: 100%;
                    display: block;
                    border-left: none;
                }
            }
            .openidform {
                .fieldrow {
                    width: auto;
                }
            }
        }
        .mmsearch {
            display: block;
            width: 100%;
            display: none;
        }
        .searchform {
            width: 100%;
        }
        .icmenu {
            display: none;
        }
        .hamburger {
            position: absolute;
            right: 20px;
            top: 6px;
            padding: 10px;
            z-index: 101;
            cursor: pointer;
            .line {
                width: 20px;
                height: 3px;
                background-color: #ecf0f1;
                display: block;
                margin: 3px auto;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                cursor: pointer;
            }
            &.m-active .line:nth-child(2) {
                opacity: 0;
            }
            &.m-active .line:nth-child(1) {
                -webkit-transform: translateY(6px) rotate(45deg);
                -ms-transform: translateY(6px) rotate(45deg);
                -o-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
            }
            &.m-active .line:nth-child(3) {
                -webkit-transform: translateY(-6px) rotate(-45deg);
                -ms-transform: translateY(-6px) rotate(-45deg);
                -o-transform: translateY(-6px) rotate(-45deg);
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
    @media screen and (max-width: 480px) {
        .menubar {
            &>* {
                width: 33%;
            }
        }
    }
    @media screen and (max-width: 320px) {
        .menubar {
            &>* {
                width: 50%;
            }
        }
    }
}

.header_body {
    @media screen and (max-width: $large) {
        min-width: 0;
        min-height: 0;
        padding: 20px 0;
        border-bottom: 0;
        .wrapper {
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            padding-right: 0;
            &:after,
            &:before {
                display: none;
            }
        }
        .logo {
            width: auto;
            margin-left: 20px;
            position: static;
            img {
                width: 100px;
                height: auto;
            }
        }
        .secondmenu {
            width: auto;
            border-left: none;
            border-right: none;
            margin-right: 20px;
            flex: none;
        }
        .liveaudioplayer {
            border: none;
        }
        .broadcastmenu {
            width: 160px;
        }
        .socmenu {
            padding-left: 0;
            padding-right: 0;
        }
        .entire,
        .aboutlive,
        .waves,
        .mobile,
        .menubar {
            display: none;
        }
    }
    @media screen and (max-width: 480px) {
        .socmenu {
            display: none;
        }
        .broadcastmenu {
            .liveaudioplayer {
                a {
                    width: auto;
                    position: static;
                }
            }
        }
    }
}

.mmperson {
    @media screen and (max-width: $large) {
        display: none;
        position: static;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding-bottom: 20px;
        background-color: #fff;
        z-index: 1;
        .about {
            position: static;
            z-index: 1;
            width: auto;
            margin: 0;
            margin-left: 10px;
            text-align: left;
            .valignw_ {
                text-align: left;
                width: auto;
                height: auto;
            }
        }
        .photo {
            img {
                width: 50px;
                height: auto;
            }
        }
        .programme {
            min-height: 0;
            margin-bottom: 10px;
        }
    }
}

.bannerBlock {
    @media screen and (max-width: $large) {
        display: none;
    }
}

// Подвал
.footer {
    @media screen and (max-width: $large) {
        min-width: 0;
        height: auto !important;
        position: static;
        .wrapper {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 40px;
        }
        .links_block {
            height: auto;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            & > div {
                text-align: center;
                margin: 0 0 20px;
                width: 33% !important;
            }
            & .wsico {
                display: block;
                margin: 0 auto;
            }
        }
        .creator {
            margin-right: 0;
        }
        .copy,
        .counter {
            width: auto !important;
            float: none;
        }
    }
}

// Правая колонка
#mainsidebar {
    @media screen and (max-width: $large) {
        display: none;
        margin: 0 20px;
        text-align: center;
        & > * {
            max-width: 240px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.sidebar {
    @media screen and (max-width: $large) {
        float: none;
        width: auto;
        max-width: 100% !important;
        margin: 20px auto 0;
        text-align: center;
        #adv_0 {
            display: inline-block !important;
        }
    }
}

// Горячие темы
.hotlinks {
    @media screen and (max-width: $large) {
        display: none;
        margin: 0 20px;
        img {
            max-width: 100%;
        }
    }
}

// Новости
#mainnewscolumn {
    @media screen and (max-width: $large) {
        max-width: 100%;
        width: auto;
        margin: 0 20px 40px;
        .bonustabs {
            display: none;
        }
    }
}

.newslist {
    @media screen and (max-width: $large) {
        width: auto;
    }
}

// Все материалы
.mainpreview {
    @media screen and (max-width: $large) {
        margin-bottom: 0 !important;
        margin-left: 20px;
        margin-right: 20px;
        .coltitle {
            text-align: center;
        }
        .preview {
            margin-top: 0 !important;
            position: static !important;
            .mediamenu {
                width: auto;
            }
        }
        &>h3 {
            margin: 0 0 20px;
        }
        &>.rel {
            width: auto !important;
            height: auto !important;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            margin: 0;
            .preview {
                margin: 0 0 20px;
                padding: 0;
                width: 220px;
                max-width: 100%;
            }
        }
        .moregiant {
            margin-top: 0 !important;
            position: static;
            width: auto !important;
            left: auto !important;
            margin-left: 0 !important;
            a {
                white-space: normal;
            }
        }
    }
    @media screen and (max-width: 720px) {
        &>.rel {
            .preview {
                width: 48%;
            }
        }
    }
    @media screen and (max-width: 480px) {
        &>.rel {
            .preview {
                width: 100%;
            }
        }
    }
}

// Слайдер
.previewcarousel,
.carouselwrapper,
.onaircarousel,
.smallheight .previewcarousel,
.smallheight .onaircarousel,
.smallheight .carouselwrapper {
    @media screen and (max-width: $large) {
        width: auto !important;
    }
}

.previewcarousel {
    @media screen and (max-width: $large) {
        margin-left: 20px;
        margin-right: 20px;
        .coltitle {
            text-align: center !important;
        }
        .preview {
            width: 100%;
            margin: 0;
        }
    }
}

.carouselwrapper {
    @media screen and (max-width: $large) {
        overflow: scroll;
        overflow-y: hidden;
    }
}

.carouselnav {
    @media screen and (max-width: $large) {
        display: none;
    }
}

// Важные люди
.mainpeoples {
    @media screen and (max-width: $large) {
        display: none !important;

        white-space: normal;
        .vip_sign {
            height: auto;
            border: none;
            width: auto;
            position: static;
            margin: 0;
            &>div {
                position: static;
                height: auto;
            }
            span {
                margin: 0;
            }
            a {
                position: static;
                margin: 0;
                display: block;
                text-align: center;
                font-size: 3vmin;
                margin-top: 20px;
            }
            strong {
                margin: 0;
                line-height: 1.2;
                font-size: 8vmin;
            }
        }
        .vip_showcase {
            margin: 20px 0 0;
            padding: 0 20px;
            box-sizing: border-box;
            &.fake {
                display: none;
            }
            .mainperson {
                margin: 0;
                padding: 20px;
                background-color: #231f20;
                &>.photo {
                    display: none;
                }
            }
        }
        .freshentry {
            position: static;
            width: auto;
            overflow: auto;
            .author,
            .txt {
                opacity: 1 !important;
                .name {
                    line-height: 1;
                }
            }
            .txt {
                margin-bottom: 0;
                margin-right: 0;
                .title {
                    text-align: left;
                }
            }
            .fe_bg {
                height: auto;
                margin: 0;
            }
            .fe_cont {
                width: auto;
                height: auto;
                padding: 20px;
            }
            .photo {
                float: left;
                position: static;
                margin-right: 20px;
            }
            .about {
                position: static;
                margin: 0;
                overflow: hidden;
            }
        }
        .photo,
        img {
            width: 100px !important;
            height: auto !important;
            left: 0;
        }
    }
    @media screen and (max-width: 320px) {
        .freshentry {
            .about {
                clear: both;
                padding-top: 20px;
            }
        }
    }
}

// Сегодня в эфире
.onaircarousel {
    @media screen and (max-width: $large) {
        margin: 0 20px;

        h2 {
            cursor: pointer;
        }

        .fullday,
        .carousel {
            display: none;
        }
    }
}

// Статья
.content {
    @media screen and (max-width: $large) {
        width: auto !important;
        margin: 20px;
        float: none;
        .mainpreview {
            margin-left: 0;
            margin-right: 0;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        iframe,
        video {
            max-width: 100%;
        }
        blockquote {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
        .twitter-share-button,
        blockquote span.twitter-share-button {
            top: -20px;
        }
    }

    @media screen and (max-width: 480px) {
        img {
            float: none;
        }
    }
}

.actionBlock {
    @media screen and (max-width: $large) {
        .meta {
            float: none;
        }
        .netlinks {
            display: block;
            margin-top: 10px;
            border-right: none;

            .addthis_button_compact {
                display: none;

            }
        }
        .recom {
            display: block;
            padding: 0;
            margin: 15px 0 0;
            border: none;
        }
    }
}

// Комментарии
.commentList {
    @media screen and (max-width: $large) {
        .commBlock {
            .commBlock {
                margin-left: 25px;
            }
        }
    }
}

.newslist {
    @media screen and (max-width: $large) {
        .preview {
            margin-bottom: 20px !important;
            padding-bottom: 20px !important;
        }
        &.mainpreview .cont_tab {
            margin-right: 0;
        }
        li>img {
            width: auto !important;
        }
    }
}

.time_title {
    @media screen and (max-width: $large) {
        .lite {
            display: block;
        }
    }
}

// Передача
.conthead {
    @media screen and (max-width: $large) {
        margin-bottom: 20px;
        .title {
            padding: 20px;
        }
        h1 {
            &+.right {
                float: none;
                margin: 0;
            }
        }
        &.discuss {
            white-space: normal;
            .date {
                float: none;
            }
            .print {
                float: none;
            }
            .name_prog {
                display: block;
                width: auto;
            }
            .all {
                float: none;
            }
            h1 {
                padding: 0;
                margin: 0;
            }
            .meta {
                margin: 0 0 10px;
                float: none;
            }
        }
        &.blog {
            padding: 0;
            .title {
                margin-top: 20px;
                margin-bottom: 0;
                padding: 20px;
                background-color: #fff;
            }
            .discuss {
                padding: 20px;
                white-space: normal;
                .meta {
                    margin-right: 0;
                    float: none;
                }
            }
            h1 {
                width: auto;
                display: block;
                margin: 0;
            }
            .author {
                width: auto;
                display: block;
                margin: 20px 0 0;
            }
        }
        &.news {
            margin-bottom: 20px;
            h1 {
                font-size: 1.5em;
            }
        }
        .titlebroadcastinfo {
            .date {
                margin: 0 20px;
                white-space: normal;
                text-align: center;
            }
        }
        .person {
            .author {
                margin: 20px 0 0 0;
                display: block;
                width: auto;
            }
            .lead {
                text-align: left;
                margin-top: 20px;
                min-height: 0;
                width: auto;
            }
            .tguests {
                position: static;
                display: block;
                margin: 0 20px 20px;
            }
        }
        .author {
            text-align: center;
            .photo {
                float: none;
                & + .about {
                    margin: 0;
                }
            }
            .about {
                margin: 0;
                padding: 20px 0;
            }
        }
        .person.avt {
            .lite.iblock {
                margin: 20px 0;
                width: auto;
                display: block;
            }
            .author {
                width: auto;
                margin: 0;
                padding: 0;
                text-align: center;
                .photo {
                    float: none;
                }
                .about {
                    margin: 0;
                    padding: 20px 0;
                }
            }
        }
    }
}

.pager {
    @media screen and (max-width: $large) {
        a.prev, a.prev:link, a.next, a.next:link {
            position: static;
        }
    }
}

.linkrss {
    @media screen and (max-width: $large) {
        display: block;
        margin: 20px 0;
    }
}

.cont_tab {
    @media screen and (max-width: $large) {
        &.right {
            margin-right: 20px;
        }
    }
}

.votesresult {
    @media screen and (max-width: $large) {
        margin-bottom: 40px;
        .votetype {
            padding: 0;
            margin: 0 0 20px;
        }
        .statrow {
            margin: 0;
            padding: 20px;
        }
    }
}

.votescharts {
    @media screen and (max-width: $large) {
        padding: 0;
        .piechart {
            position: static;
            &.fullpie + .legend {
                margin: 0;
            }
        }
    }
}

.linktop {
    @media screen and (max-width: $large) {
        text-align: center;
    }
}

.profile {
    @media screen and (max-width: $large) {
        padding: 20px 0;
        .foto {
            width: auto !important;
            display: block;
            margin: 0;
            text-align: center;
            img {
                display: inline-block;
                margin: 0;
            }
        }
        .aboutperson {
            width: auto;
            display: block;
            padding: 0;
            text-align: center;
            margin-top: 20px;
            h1 {
                font-size: 1em;
                padding: 0;
                margin: 0;
            }
            .post,
            .login {
                padding: 0;
            }
            .inf_rating {
                span {
                    margin-left: 0;
                    display: block;
                }
            }
            .text {
                padding: 20px;
            }
        }
        .linkrss {
            position: static;
            margin: 0;
            padding: 0 20px;
        }
        .recombl {
            display: block;
            padding: 0;
            width: auto;
            text-align: center;
            img {
                padding: 0.2em;
            }
        }
    }
}

.filtr_tabs {
    @media screen and (max-width: 480px) {
        .tabslist {
            li {
                display: block;
                margin-bottom: 1px;
                padding: 0;
                a {
                    display: block;
                    line-height: 40px;
                }
            }
        }
    }
}

.b-top-7 {
    @media screen and (max-width: $large) {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: flex-start;
        height: auto !important;
    }
}

.b-top-7__item {
    @media screen and (max-width: 480px) {
        flex: 0 1 100%;
    }
    @media screen and (max-width: $large) {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        &._leader {
            width: 100%;
            flex: 0 1 100%;
            .b-top-7__item__category {
                position: static;
                text-align: center;
                width: auto;
            }
        }
        .prevcontent {
            padding: 20px;
        }
        .b-top-7__item__category {
            position: static;
            text-align: center;
            width: auto;
        }
        .b-top-7__item__content {
            margin: 0;
        }
        .b-top-7__item__content__group__c1 {
            width: auto;
            text-align: center;
            display: block;
            img {
                display: inline-block;
                padding: 0;
            }
        }
        .b-top-7__item__content__group__c2 {
            width: auto;
            display: block;
        }
        .b-top-7__item__content__header {
            padding: 0;
            text-align: center;
            .date {
                display: block;
                position: static;
            }
        }
    }
}

.typicalform {
    @media screen and (max-width: $large) {
        padding: 20px;
        .fieldrow {
            width: auto;
            label {
                width: auto;
                display: block;
                text-align: left;
            }
        }
        .field {
            width: 100%;
            margin-left: 0;
        }
        .checkbox {
            width: 15px;
        }
    }
}

.res_block {
    @media screen and (max-width: $large) {
        .type {
            width: auto;
            text-align: left;
        }
        .date {
            position: static;
            display: block;
        }
        .descr {
            margin: 0;
            width: auto !important;
        }
        h3 {
            margin-right: 0;
        }
    }
}

.banner-top {
    @media screen and (max-width: $large) {
        background-color: #999;
    }
}

.dialog {
    @media screen and (max-width: 480px) {
        p {
            padding: 0;
            b {
                text-indent: 0;
            }
            & > span {
                display: none;
            }
        }
    }
}

.adContainer {
    @media screen and (max-width: $large) {
        margin-left: 0 !important;
    }
}

.shareBlock {
    @media screen and (max-width: $large) {
        right: auto;
        left: 0;
    }
}

.adv_banner {
    @media screen and (max-width: $large) {
        flex: 100%;
        text-align: center;
        & > div {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
}

.adv_inside,
.video_adv_1 {
    @media screen and (max-width: 320px) {
        margin-left: -20px;
        margin-right: -20px;
    }
    @media screen and (max-width: 480px) {
        & > div {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}

.addpreview {
    @media screen and (max-width: 480px) {
        float: none;
        margin-top: 40px;
        .previewwrapper {
            margin: 0;
        }
        .preview {
            width: auto;
        }
    }
}

.preview {
    @media screen and (max-width: $large) {
        .company-logo {
            a {
                img {
                    max-width: 999px;
                }
            }
        }
    }
}

.aboutbroadcast {
    @media screen and (max-width: $large) {
        .text {
            width: auto;
        }
        .person.pr2 {
            width: auto;
        }
    }
}

.echolive {
    @media screen and (max-width: $large) {
        width: auto;
        div.nota_audio {
            width: auto;
            .nota_title-container {
                width: auto;
                right: 0;
            }
        }
        .livetitle {
            width: auto;
            padding: 20px;
            .title {
                width: auto;
                text-align: center;
                display: block;
                margin-bottom: 20px;
            }
            .author,
            .guestst {
                width: auto;
                text-align: center;
                display: block;
                margin: 0;
            }
            .guestst {
                font-size: 16px;
            }
            .author {
                .photo {
                    float: none;
                }
                .about {
                    margin: 15px 0;
                }
                .post {
                    font-size: 14px;
                }
                .name {
                    font-size: 16px;
                }
            }
        }
        .liveprogrammes {
            .datetime {
                font-size: 16px;
            }
            .title {
                font-size: 16px;
            }
            .persons {
                font-size: 16px;
            }
        }
        .aboutprogramme {
            display: block;
        }
    }
}
